<!DOCTYPE html>
<html lang="en">
 
<head>
    <title>Login to begin Personality Test</title>
 
 
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">  
    <link href="http://getbootstrap.com/examples/jumbotron-narrow/jumbotron-narrow.css" rel="stylesheet">
 
 
</head>
 
<body>
 
    <div class="container">
        <div class="header">
            <nav>
                <ul class="nav nav-pills pull-right">
                    <li role="presentation"><a href="/">Home</a>
                    </li>
                    <li role="presentation" class="active"><a href="about">About</a>
                    </li>
                    <li role="presentation"><a href="showSignUp">Sign Up</a>
                    </li>
                    <li role="presentation"><a href="showSignIn">Sign In</a>
                    </li>
                </ul>
            </nav>
            <h3 class="text-muted">Personality Test</h3>
        </div>

        <div class="jumbotron">
        	<p class="lead"></p>
        	<h2> A collaborative project to test your personality via the Briggs-Myers Test. Created purely for fun and because we had to. </h2>
        </div>
 
 
        <footer class="footer">
            <p>&copy; TheBMadisonCompany 2018</p>
        </footer>
 
    </div>
</body>
 
</html>
