<!DOCTYPE html>
<html lang="en">
 
<head>
    <title>Personality Test</title>
 
 
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">  
    <link href="http://getbootstrap.com/examples/jumbotron-narrow/jumbotron-narrow.css" rel="stylesheet">
 
 
</head>
 
<body>
 
    <div class="container">
        <div class="header">
            <nav>
                <ul class="nav nav-pills pull-right">
                    <li role="presentation" class="active"><a href="/">Home</a>
                    </li>
                    <li role="presentation"><a href="about">About</a>
                    </li>
                    <li role="presentation"><a href="showSignUp">Sign Up</a>
                    </li>
                    <li role="presentation"><a href="showSignIn">Sign In</a>
                    </li>
                </ul>
            </nav>
            <h3 class="text-muted">Personality Test</h3>
        </div>
 
        <div class="jumbotron">
            <h1 align="center">Personality Test App</h1>
            <p class="lead"></p>
            <p><a class="btn btn-lg btn-success" href="showSignUp" role="button">Sign up today</a>
			<a class="btn btn-lg btn-success" style="float:right" href="showSignIn" role="button">Sign In Now</a>
 
        
 
        </div>
 
        <footer class="footer">
            <p>&copy; TheBMadisonCompany 2018</p>
        </footer>
 
    
</body>
 
</html>