<script type="text/javascript">
 
        var counter = 1;
        var node;
        var str;
        for (t in test){
            if (counter == 1)
            {
                node = document.getElementById('1');
            }
            if (counter == 2)
            {
                node = document.getElementById('2');
            }
            if (counter == 3)
            {
                node = document.getElementById('3');
            }
            if (counter == 4)
            {
                node = document.getElementById('4');
            }
            if (t[1] != prev){
                prev = test[t][1];
                str - "<th>" + prev " </th> <th> <input type='radio' name=" + prev " value="  "> True <br> </th>";
            }
            else{
                str"<th> <input type='radio' name ={{t[1]}} value=t>False<br></th>";
                document.innerHTML(str);
                counter++;
            }
        }
        

        </script> 
