<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Personality Test App</title>
 
    
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
 
    <link href="http://getbootstrap.com/examples/jumbotron-narrow/jumbotron-narrow.css" rel="stylesheet">
    <link href="../static/signup.css" rel="stylesheet">
    
    <script src="../static/js/jquery-1.11.2.js"></script>
    <script src="../static/js/signIn.js"></script>

  </head>
 
  <body>
 
    <div class="container">
      <div class="header">
        <nav>
                <ul class="nav nav-pills pull-right">
                    <li role="presentation"><a href="/">Home</a>
                    </li>
                    <li role="presentation"><a href="about">About</a>
                    </li>
                    <li role="presentation"><a href="showSignUp">Sign Up</a>
                    </li>
                    <li role="presentation" class="active"><a href="showSignIn">Sign In</a>
                    </li>
                </ul>
            </nav>
        <h3 class="text-muted">Personality Test App</h3>
      </div>
 
      <div class="jumbotron">
        <h2>Account Sign In</h2>
        <form class="form-signin">
        <label for="inputName" class="sr-only">Name</label>
        <input type="name" name="inputName" id="inputName" class="form-control" placeholder="Name" required autofocus>
        <label for="inputPassword" class="sr-only">Password</label>
        <input type="password" name="inputPassword" id="inputPassword" class="form-control" placeholder="Password" required>
         
        <button id="btnSignIn" class="btn btn-lg btn-primary btn-block" type="button">Sign in</button>
      </form>
      </div>
 
       
 
      <footer class="footer">
        <p>&copy; TheBMadisonCompany 2018</p>
      </footer>
 
    </div>
  </body>
</html>