<!DOCTYPE html>
<html lang="en">
 
<head>
    <title>Test</title>
 
 
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">  
    <link href="http://getbootstrap.com/examples/jumbotron-narrow/jumbotron-narrow.css" rel="stylesheet">


    <script src="../static/js/jquery-1.11.2.js"></script>
    <script src="../static/js/test.js"></script>
 
 
</head>
 
<body>
 
    <div class="container">
        <div class="header">
            <nav>
                <ul class="nav nav-pills pull-right">
                    <li role="presentation"><a href="/">Home</a>
                    </li>
                    <li role="presentation"><a href="about">About</a>
                    </li>
                    <li role="presentation"><a href="showSignUp">Sign Up</a>
                    </li>
                    <li role="presentation" class="active"><a href="showSignIn">Sign In</a>
                    </li>
                </ul>
            </nav>
            <h3 class="text-muted">Personality Test</h3>
        </div>
        <form>
        <div class="jumbotron">
            
            <h3> Test is complete, please sign in again to view your changes. </h3>
        </div>	
        <footer class="footer">
            <p>&copy; TheBMadisonCompany 2018</p>
    </footer>
 </body>
    
 
    </div>

 
</html>